body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    color: #333;

    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    color: white;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
}

nav a:hover {
    border-bottom: 2px solid white;
}

.hero {
    text-align: center;
    margin-top: 150px;
    color: white;
    text-shadow: 0 0 8px black;
}

.hero h1 {
    font-size: 3.5em;
}

.video {
    background: rgba(255,255,255,0.9);
    padding: 40px;
    margin: 80px auto;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
}

.galeria img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 0 10px #aaa;
}

.formulario {
    width: 50%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.formulario label {
    color: white;       
    font-weight: bold;   
    margin-bottom: 5px; 
}

.formulario input,
.formulario textarea {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #bbb;
}

button {
    padding: 12px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}


